   a:visited{color: white;}
.wrapper{width: 100vw; margin: 0 auto; text-align: left; min-height: 100%; position: relative; /*background: brown;*/}
/*ol, ul{list-style: none;}*/
/*====================================================================*/

.header{width: 100vw; margin: auto; height: auto;  background-color: #dcdcdc;}
.content{width: 100vw;   margin: auto;   height: auto; padding-bottom: 15.71vw; padding-bottom: 15.4vw; padding-bottom: 15.71vw;}
.footer{width: 100vw;  margin: auto; min-height: 15.71vw;   position: absolute; bottom: 0; left: 0; right: 0; background-color: #777777; color: #ffffff;}
/*@font-face{font-family: 'PT_Sans';src: url(https://fonts.googleapis.com/css?family=PT+Sans");}*/
/*===================================Desctop============================================*/
/***********************************header************************************************/
.container_top{height: 16.43vw; width: 100vw;  margin: 0 auto; position: relative;/* background: red;*/}
.left_part{display: inline-block; width: 50vw; height: 16.43vw;  background-color: #dcdcdc;/* background: green; */top: 0; position: absolute;}
.logo_img{width: 7.14vw; height: 7.14vw;   display: inline-block; margin-left: 15vw; margin-top: 4.64vw;}
.company{display: inline-block; margin-left: 1vw;/*background: gold;*/ top: 5.21vw; position: absolute;}
.company_name {font-size: 1.86vw; font-weight: bold; color: #767676; letter-spacing: 0.07vw;}
.p_best_company{font-size: 1vw; font-weight: normal; color: #767676; letter-spacing: 0.07vw;}
.right_part{display: inline-block;  width: 50vw; height: 16.43vw; right: 0;  color: #767676; /*background: blue;*/ position: absolute;}
.phone{ width: auto; height: auto;  position: absolute; right: 15vw; top: 5vw; /*background: gold;*/}
.phone_number{font-family:PT_Sans; font-size: 1.86vw; line-height: 1.86vw;}
.feedback{ font-size: 1.64vw; float: right; color: #767676; text-decoration: none; border-bottom: 0.14vw dashed #767676;}
.menu_block{height: 5.71vw; width: 100%;/* background: greenyellow;*/ position: relative;}
.menu_items{background-color: #777777; background: #dcdcdc; height: auto;  width: 100%;position: absolute; top: 2.14vw; z-index: 9; background: white;}
.menu_ul{width: auto;  margin: auto;  background: white;  height: auto; position: relative; z-index: 5; margin-left: 10.71vw; font-size: 1.14vw;line-height: 1.43vw;}
ul.menu_ul li{text-align: center; display: inline-block; background: #dcdcdc; background: white; vertical-align: top; padding-left: 0.21vw; padding-right: 0.21vw; margin-left: 0; margin-right: 0; color: black;}
ul.menu_ul .submenu_1_ul{/*background: gold;*/ position: absolute; top: 1.43vw; width: 10vw; display: none; /*display: block;*/}
ul.menu_ul .submenu_1_ul li{display: block; background: #dcdcdc; text-align: left; border-bottom: 0.07vw solid black;  width: 9.29vw; margin: 0; padding: 0; margin-top: 0.14vw; margin-bottom: 0.14vw; margin-left: 0.36vw;}
ul.menu_ul, ul.submenu_1_ul, ul.submenu_2_ul{list-style-type: none;}
ul.menu_ul , ul.submenu_1_ul, ul.submenu_2_ul{text-decoration: none; color: white;}
ul.menu_ul .submenu_2_ul{position: absolute; left: 9.43vw; top: 0.93vw; /*background: blue;*/ display: none; /*display: block;*/ padding-top: 0.71vw; padding-bottom: 0.71vw; width: 10vw;}
ul.menu_ul li:hover{background: #777777; color: white;}
ul.menu_ul li:hover ul.submenu_1_ul{display: block;}
ul.menu_ul .submenu_1_ul li:hover ul.submenu_2_ul{display: block;}
.feedback_window{width: 44.64vw; height: 41.43vw; background: #ffffff; position: absolute; z-index: 10; left: 467.0.36vw; display: none;}
.close{width: 2.14vw; height: 2.14vw; position: absolute; right: -2.14vw; top: -2.14vw; }
.feedback_header{font-size: 1.29vw; font-weight: bold; text-align: center; margin-top: 2.14vw; margin-bottom: 1.43vw;}
.feedback_table{/*border: 0.07vw solid black;*/}
.feedback_table td{/*border: 0.07vw solid black;*/ width: 14.29vw; height: 2.86vw;}
.feedback_text{font-size: 1vw; margin-left: 8.57vw;}
.mandatori_field{position: absolute; color: #dc7f7f; top: 32.14vw; margin-left: 5.64vw;}
.name_input, .phone_input, .email_input{border: 0.07vw solid #777777; border-radius: 0.07vw; width: 7.14vw; font-size: 1vw; height: 1.43vw; }
.message_text{font-size: 1vw; margin-left: 7.14vw; border: 0.07vw solid #777777; border-radius: 0.07vw; margin-top: 0.36vw;}
.button_message{position: absolute; bottom: 55.71vw; width: 9.29vw; height: 3vw; border: 0; background: #777777; left: 11.96vw; color: wheat;}
.error_form{color: blue; }
.thanks{position: absolute; color: green; font-size: 2.14vw; left: 10.71vw; top: 14.29vw;}
/**********************************content**************************************************/
.slider_part{ width: 100vw; height: 34.29vw; background: #f8f8f8;  margin: auto; position: relative;}
.slider{width: 100vw; height: 34.29vw; margin: auto;}

#prev, #next{ width:7.14vw; height: 7.14vw;line-height: 6.43vw;border-radius: 50%;font-size: 3.57vw;
              text-align: center;color: #000000;text-decoration: none; position: absolute; top: 15.36vw; background: rgba(0,0,0,0.1); z-index: 7; }
#prev:hover, #next:hover{  background: rgba(0,0,0,0.2); text-shadow:0;}
#prev{ left: 7.14vw;}
#next{right: 7.14vw;}

.film{width: 100vw; height: 34.29vw; background: #f8f8f8; opacity: 0.5; margin: auto;z-index: 6; top: 0; position: absolute;}
.content_part{min-height:35.71vw; width: 100vw; background: #ffffff; /*background: blue;*/ top: 1.50vw; position: relative; margin: auto;}
.content_left_part{height: auto;  width: 29.29vw; background: #ffffff;/*background: yellow;*/ margin-top:0;/*position: absolute;*/display: table-cell; vertical-align: top;}
.news{
    height: auto; width: 25vw; background-color: #777777;
      margin-top: 1.50vw;  margin-left: 0.71vw;padding-left: 2.43vw;
      display: inline-block; color: #ffffff; position: relative; vertical-align: top;
}
.text_part{/*background: red;*/ width: 17.86vw; height: auto;}
.news_header{font-size: 1vw; font-weight: bold; margin-bottom: 0.71vw;}
.data{font-size: 0.71vw; font-style: italic; margin-top: 1.50vw;}
.news_link{font-size: 1.14vw;}
.archive{position: relative; float: right; bottom: 0.71vw;margin-top: 3.57vw;margin-right: 0.71vw;}

.content_right_part{height: auto; width: 70.71vw; /*background: greenyellow;*/ /*position: relative;*/display: table-cell; position: relative;}
.products{width: 55.71vw; min-height: 7.14vw; /*border: 0.07vw solid black;*/}
.products td{ border: 0.57vw solid white; background: #dcdcdc;}
.img_product{margin: 1.43vw; width: 15vw; height: 15vw;}
.product_text{margin-left: 1.43vw; color: #767676; font-size: 1vw;}
.price {font-size: 55.71vw; font-weight: bold; margin-top: 2.14vw; margin-bottom: 1.43vw; margin-left: 1.43vw;}
.img_cart{margin-left: 4.29vw; height: 3.57vw;}

.down_part{width: 100%; min-height: 7.14vw;/* background: salmon; */position: relative;}
.pages_ul{list-style-type: none; text-align: center; position: relative; height: 7.14vw;/* background: yellow;*/}
.pages_ul li{display: inline-block; margin-top: 55.71vw; padding-left: 0.71vw; padding-right: 0.71vw;}
.pages_ul li a{color: #767676; font-size: 1vw; text-decoration: none;}
.hr_bottom{width: 55.71vw; margin-left: 29.29vw; margin-bottom: 1.43vw;}
.down_part_left{margin-left: 29.29vw; width: 26.43vw; height: auto; /*background: blue;*/display: inline-block;position: relative; vertical-align: top;}
.down_part_right{width: 26.43vw; height: auto;/* background: blue;*/ display: inline-block; position: relative;margin-bottom: 3.57vw; margin-left: 2.50vw;}
.about_text{}
.about_text_2{}
/*******************************footer*****************************************************/
.footer_left{width: 32.14vw; height: auto; display: inline-block;position: absolute;margin-left: 15vw; top: 3.57vw; position: absolute; font-size: 1vw;}
.footer_center{width: 28.57vw; height: auto; display: inline-block;position: absolute;margin-left: 40vw; top: 3.57vw;  font-size: 1vw;}
.footer_center ul{list-style-type: none;}
.footer_right{width: 21.43vw; height: auto; display: inline-block;position: absolute;margin-left: 72.14vw; top: 3.57vw;  font-size: 1vw;}
.compani_img{ width: 2.71vw; height: 2.71vw; position: absolute; margin-left: -3.29vw;top: 0.71vw;}